{{#liquid-wormhole class="outer-wormhole"}}
  <div class="green-box">
    Outer Wormhole

    {{#liquid-wormhole class="middle-wormhole"}}
      <div class="blue-box">
        Middle Wormhole

        <button {{action "showInner"}}>Show</button>

        {{#if showingInner}}
          {{#liquid-wormhole class="inner-wormhole"}}
            <div class="red-box">
              Inner Wormhole
            </div>
          {{/liquid-wormhole}}
        {{/if}}
      </div>
    {{/liquid-wormhole}}
  </div>
{{/liquid-wormhole}}

{{#liquid-wormhole class="middle-wormhole"}}
  <div class="red-box">
    Other Middle Wormhole
  </div>
{{/liquid-wormhole}}
