.default-liquid-target {
  position: absolute;
  top: 0;
  z-index: 9999;
}

.default-liquid-target .liquid-target-stack {
  width: 100vw;
  position: absolute;
}

.default-liquid-target .liquid-child {
  overflow: visible;
  width: 100vw;
  position: absolute;
}

.liquid-wormhole-container {
  display: none;
}
