{{liquid-target name="some-target"}}

<button {{action "showWormhole"}}>
  Show Wormhole
</button>

{{#if showWormhole}}
  {{#liquid-wormhole to="some-target" class="blue-box"}}
    Testing
  {{/liquid-wormhole}}
{{/if}}
