<button {{action "toggleContent"}}>
  Toggle Inner Content
</button>

{{#liquid-wormhole class="blue-box"}}
  <div id="content-box">
    {{#liquid-if showingOther}}
      <span id="showing-other">Show Other</span>
    {{else}}
      <span id="not-showing-other">Don't Show Other</span>
    {{/liquid-if}}
  </div>
{{/liquid-wormhole}}
