<h1>Introducing Liquid Wormhole</h1>

<h2>Animated wormhole magic</h2>

<p>
  Liquid Wormhole combines the ideas behind
  <a href="https://github.com/yapplabs/ember-wormhole.git">Ember Wormhole</a> with
  the power of <a href="http://ef4.github.io/liquid-fire/">Liquid Fire</a> to
  provide an accessible, easy-to-use toolkit for animating elements on a layer
  above your templates, making positioning and rendering simple.
</p>

<div class="example-button-container">
  <button {{action 'toggleHello'}} id="hello-world-button" class="btn btn-primary btn-embossed">
    Hello, World!
  </button>

  {{#if showHello}}
    {{#liquid-wormhole
      to="hello-world"
      class="container123"
    }}
    <div class="notification modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Hello!</h4>
      </div>

      <div class="modal-body">
        <p>
          You can put me anywhere you want, it's easy!
        </p>
      </div>
    </div>
    {{/liquid-wormhole}}
  {{/if}}
</div>
