{{#unless hideWormhole}}
  {{#liquid-wormhole class="blue-box"}}
    {{#test-component someAction=(action "toggleWormhole") as |someAction|}}
      <button {{action someAction}}>Toggle Wormhole</button>
    {{/test-component}}
  {{/liquid-wormhole}}
{{/unless}}
