<button {{action "toggleWormhole"}}>Toggle Wormhole</button>

{{#unless hideWormhole}}
  {{#liquid-wormhole class="blue-box"}}
    {{#test-component}}
      testing123
    {{/test-component}}
  {{/liquid-wormhole}}
{{/unless}}
